<h1>Recipe Show Page</h1>

<ol>
  <li>Recipe Name: <%= @recipe.name %></li>
  <li>Recipe Complexity: <%= @recipe.complexity %></li>
  <li>Recipe Genre: <%= @recipe.genre %></li>
</ol>

Recipe Ingredients:
<ol>
  <% @ingredients.each do |ingredient| %>
    <li><%= ingredient.name %></li>
  <% end %>
</ol>

Total Cost: <%= @total_cost %>