<h1><%= @recipe.name %></h1>
<p>Complexity: <%= @recipe.complexity %></p>
<p>Genre: <%= @recipe.genre %></p>

<% @recipe_ingredients.each do |ingredient| %>
<p>Ingredient name: <%= ingredient.name %></p>
<p>Total Cost: <%=  %></p>
<% end %>